body {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: black;
    color: rgb(0, 0, 0);
    
}

.navbar {
    background-color: black !important;
}

.menu a:hover {
    background-color: rgb(51, 51, 51);
}



